<div>
    <navbar></navbar>
    <div class="cpadding">
        <div class="contactpos">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Contact Me</h2>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" required>
                                <label>Email</label>
                                <input class ="form-control" type="email" name="email" required>
                                <label>Subject</label>
                                <input class="form-control" type="text" name="subject" required>
                                <label>Message</label>
                                <textarea class="form-control" name="message" rows="6" required></textarea> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>