<div>
    <navbar></navbar>    
    <div class="container">
        <div class="edpos">
            <div class="edcont">
                <div class="edimg">
                    <img id="unisize" src="../../../public/images/ua-square-logo.png"/>
                </div>
                <div class="edtextpos">
                    <div class="edtext">
                        <p>I am a class of 2015 graduate of The Univeristy of Alabama. I graduated with a Bachelor of Science in Commerce and Business Administration. My majors were General Business and Management, each with a GPA of 3.222 and GPA of 3.667 respectively. I took electives in New Venture Development, Small Business Consulting and Elementary Japanese. In my final term, I made the deans list for Spring of 2015 and graduated with an overall GPA of 3.077</p>
                    </div> 
                </div>
            </div>
            <div class="edcont">
                <div id="covimg">
                    <img id="covalence" src="../../../public/images/logo.svg"/>
                </div>
                <div class="edtextpos">
                    <div class="edtext">
                        <p>I took a 10 week frontend developer course called Covalence (formerly Depot/U) in Birmingham, AL. 
                            I obtained:
                        <ul id="covUl1">
                            <li>Core HTML & CSS</li>
                            <li>Core Javascript</li> 
                            <li>Git (VCS)</li>
                            <li>Twitter Bootstrap</li> 
                            <li>JQuery</li>
                            <li>LESS & SASS</li>
                            <li>MVC's</li>
                            <li>AngularJS</li>
                                <ul>
                                    <li>Routing</li>
                                    <li>Data Binding</li>
                                    <li>Dependecy injections</li>
                                    <li>Directives</li>
                                </ul>
                            <li>Typescript</li>
                            <li>Static Types and Generics</li>
                            <li>Mobile User Experience</li>
                            <li>Cordova</li>
                            <li>Cordova Plugins</li>
                            <li>App Store Deployment</li>
                        </ul>
                        I graduated November of 2015 with a cerification in Front End Fundamentals, License ID of <a href="https://credly.com/credit/13906539">CREDLY-13906539</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="edpos">
            <div class="edcont">
                <div class="edimg">
                    <img id="betamore" src="../../../public/images/logo.png"/>
                </div>
                <div class="edtextpos">
                    <div class="edtext">
                        <p>After taking a 7 month hiatus, during which I was perfecting my frontend skills, I moved to Baltimore, Maryland. There, I took a class in Fullstack development based on NodeJS. At Betamore Academy, I obtained skills in:</p>
                        <ul id="covUl1">
                            <li>MVC's</li>
                            <li>AngularJS</li>
                            <li>ExpressJS</li>
                            <li>NodeJS</li>
                                <ul>
                                    <li>OS module</li>
                                    <li>Clustering module</li>
                                    <li>HTTP module</li>
                                    <li>HTTPS Module</li>
                                    <li>Path Module</li>
                                    <li>FS Module</li>
                                </ul>
                            <li>Postgres</li>
                            <li>Sequelize</li>
                            <li>Redis</li>
                        </ul>
                        <p>I graduated December of 2016 with a cerification in Intro to Full Stack Web Development.</p>
                    </div>
                </div>
            </div>
            <div class="edcont">
                <div>
                    <img id="wanikani" src="../../../public/images/method-mnemonics-d09aa3ce6ba8a2bdff6a9a3753769aaf6985cec4ad491c1b270abbda9c6bc1d3.png"/>
                </div>
                <div class="edtextpos">
                    <div class="edtext">
                        <p id="nihon">私も日本語が話します。</p>
                        <p>I am JLPT N5 versed speaker of Japanese. I basically means I understand 97.50% of the kanji that Japanese 1st grade elementary students need to know, and 78.48% of the JLPT5 kanji. I continue my studies, but they are slow and methodical in nature. I want to make sure I know my vocabulary level well enough before continuing. Will be updated as studies continue...</p>
                        <p id="nihon">Studies conducted on <a href="https://www.wanikani.com">Wanikani</a>.</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>