<div>
    <navbar></navbar>
    <div class="writepos">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Write Post</h2>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Topic</label>
                                <input class="form-control" type="text" name="topic" required>
                                <label>Post</label>
                                <textarea class="form-control" name="post" rows="6" required></textarea>
                                <div class="btnpadding">
                                    <button class="btn btn-default" type="submit">Submit</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>