<div>
    <navbar></navbar>
    <div class="cpadding">
        <div class="socialpos">
            <div class="container">
                <div class="panel panel-default">
                    <div class="iconpadding">
                        <div class="iconpos">
                            <a class="socicon" href="https://www.facebook.com/inunotaisho26"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
                            <a class="socicon" href="https://www.linkedin.com/in/efairweather050990"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                            <a class="socicon" href="https://github.com/inunotaisho26"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                            <a class="socicon" href="https://twitter.com/eburrowfair"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactpos">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Contact Me</h2>
                    </div>
                    <div class="panel-body">
                        <form action="https://formspree.io/xlgdajlm" method="POST" id="inputform">
                            <div class="form-group">
                                <input type="text" name="_gotcha" style="display: none">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="firstName" required>
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="lastName" required>
                                <label>Email</label>
                                <input class ="form-control" type="email" name="email" required>
                                <label>Subject</label>
                                <input class="form-control" type="text" name="subject" required>
                                <label>Message</label>
                                <textarea class="form-control" name="message" rows="6" required></textarea>
                                <div class="btnpadding">
                                    <button class="btn btn-default" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>