<div>
    <navbar></navbar>
    <div class="projectpos">
        <div class="projecttitle">
            <a href="http://www.borderlandoftherockies.com/"><img class="projectimg" src="../../public/images/borderlandoftherockies.png"/></a>
            <a href="http://www.borderlandoftherockies.com/"><p class="ptitle">Border Land of the Rockies</p></a>
            <p class="description">
        </div>
        <div class="projecttitle">
            <a><img class="projectimg" src="../../public/images/ebfairweather-1.png"/></a>
            <a><p class="ptitle">First Portfolio Page</p></a>
        </div>
    </div>
    <div class="projectpos">
        <div class="projecttitle">
            <a><img class="projectimg" src="../../public/images/Screen Shot 2016-01-14 at 12.15.35 PM.png"/></a>
            <a><p class="ptitle">Triple Care</p></a>
        </div>
        <div class="projecttitle">
            <a href="http://incwealth.com/"><img class="projectimg" src="../../public/images/incwork_sqxjqn.png"/></a>
            <a href="http://incwealth.com/"><p class="ptitle">Inc Financial</p></a>
        </div>
    </div>
    <div class="projectpos">
        <div class="projecttitle">
            <a><img class="projectmore" src="../../public/images/mywebsitelogo.png"/></a>
            <a><p class="ptitle">More to come...</p></a>
        </div>
</div>