<div>
    <navbar></navbar>
    <div class="mindset">
        <div class="mindsetpos">
            <div class="himgcont">
                <img class="mindsetimg" src="../../public/images/savingwifeandchild.gif"/>
                <p class="htitle">私は愛する人々を守ります。</p>
            </div>
            <div class="himgcont">
                <img class="mindsetimg" src="../../public/images/motherfatherandchild.gif"/>
                <p class="htitle">私が愛する人を守るために生きています。</p>
            </div>
        </div>
        <div class="mindsetpos">
            <div class="himgcont">
                <img class="mindsetimg" src="../../public/images/defendingmotherandson.gif"/>
                <p class="htitle">もし私の生を必要ならば、</p>
            </div>
            <div class="himgcont">
                <img class="mindsetimg" src="../../public/images/inuyashanewborn.gif"/>
                <p class="htitle">私は愛する人を守ります。</p>
            </div>
        </div>
    </div>
    <div class="mottopos">
        <p class="motto">君は守るに誰かがありますか？</p>
    </div>
    <div class="personalimgpos">
        <img class="personalimg" src="../../public/images/myselfie.jpg"/>
    </div>
    <div class="perscont">
        <div class="persinfo">
            <p>My name is Ethan Fairweather</p>
                <ul>
                    <li>Entrepreneur</li> 
                    <li>Fullstack NodeJS/ExpressJS Web Developer</li>
                    <li>Business Analyst</li>
                </ul>
        </div>
    </div>
</div>
<footer></footer>